/* Common Shared Styles */

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/* Header */

header {
    
}

.header {
    /* using Alpha while setting colors (pasting specific color from figma.com) */
    background-color: #DC506F33;
    width: 1920px;
    height: 850px;

}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    /* align-items: center; */
    /* justify-content: flex; */
    
}

.banner-text {
    color: #272727;
    font-size: 65px;
    font-weight: 800;
    line-height: normal;
    max-width: 708px;
    max-height: 288px;
    gap: 32px;
}

.banner-description{
    color: #27272799;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 634px;
}

.btn-primary {
    border-radius: 8px;
    width: auto;
    height: auto;
    background: #E55473;
    display: inline-flex;
    padding: 20px 43px;
    gap: 10px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.btn-secondary {
    border-radius: 8px;
    width: auto;
    height: auto;
    background: #E55473;
    display: inline-flex;
    padding: 18px 39px;
    gap: 10px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.flower-pic-header {
    width: 635px;
    height: 800px;
    position: bottom right;
}

/* Main */
.heading-text {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.heading-text-2 {
    color: #E55473;
}

.heading-description {
    display: flex;
    width: 594px;
    color: #27272799;
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

/* OFF-Section */
.OFF-Section{
    display: flex;
}


/* Service Related Info Section */
.SRI-Box {
    display: flex;
    padding: 80px;
    /* justify-items: center; */
    gap: 60px;
    background-color: #2727270D;
    align-items: center;
}

/* Ongoing Sales Section" */
.ongoing-sales-section {
    display: flex;
    background-color: #DC506F1A;
    max-height: 620px;
    width: auto;
}

/* Get The Latest Deals Section */
.background-image-1 {
    background-image: url('../images/Rectangle\ 9.png');
}

/* Footer */
.background-color-1 {
    background-color: #111010;
}

.footer-text {
    color: #FFFFFF;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.footer-description {
    display: flex;
    width: 594px;
    color: #FFFFFFE5;
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.footer-copyrights {
    color: #FFFFFF66;
}