/* Common Shared Styles */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/* Special Code (Please don't discriminate. Thank you.) */
#btnScrollToTop {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 10px #00000040;
    color: #FFFFFF;
    border: none;
    outline: none;
    /* cursor: pointer; */
}

/* Header */
.nav-title {
    padding: 50px 0px 0px 75px;
}

.btnHome-styles-white {
    color: #E55473;
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    
}
.btnHome-styles-pink {
    color: #000000;
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

/* header {
    
} */

.header {
    /* using Alpha while setting colors (pasting specific color from figma.com) */
    background: #E554731A;;
    max-width: 1923px;
    height: 937px;

}

.banner {
    display: flex;
    /* align-items: center; */
    /* justify-content: flex; */
    
}

.banner-text {
    color: #272727;
    font-size: 65px;
    font-weight: 800;
    line-height: normal;
    max-width: 708px;
    max-height: 288px;
    gap: 32px;
    padding: 157px 0px 0px 240px;
}

.banner-description{
    color: #272727e6;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 634px;
    padding: 0px 0px 0px 240px;
}

.btn-primary {
    border-radius: 8px;
    border: 0;
    width: auto;
    height: auto;
    background: #E55473;
    display: inline-flex;
    padding: 20px 43px;
    gap: 10px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px 0px 147px 240px;
    cursor: pointer;
}

.btn-primary:active {
    background: rgba(229, 84, 115, 0.950);
}

.flower-pic-header {
    padding: -65px 240px 0px 97px;
    /* margin-bottom: 50px; */
}

/* Main (Contains many div)*/

/* OFF-Section */

.OFF-Section {
    display: inline-block;
}

.OFF-Section-Title {
    max-width: 413px;
    max-height: 48;
    padding: 0px 755px 0px 755px;
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.OFF-Section-Description {
    width: 594px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.OFF-Section-Picture {
    
}



/* Service Related Info Section */
.SRI-Box {
    display: flex;
    max-width: 1449px;
    max-height: 320px;
    margin: 128px 247px 128px 247px;
    padding: 76px 175px;
    background: #2727270D;
    align-items: center;

    color: #272727CC;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

.SRI-Section {
    display: flex;
    max-width: 1923px;
    max-height: 576px;
}

/* .SRI-Box-Text-1 {
    
} */

.SRI-Box-Text-2 {
    padding: 0px 100px;
}

/* .SRI-Box-Text-3 {
    
} */

.SRI-Box-Picture-1 {
    padding: 0px 120px 16px 120px;
}

.SRI-Box-Picture-2 {
    padding: 0px 180px 16px 180px;
}

.SRI-Box-Picture-3 {
    padding: 0px 50px 16px 30px;
}

/* Hot Deal Section */
.HD-Section {
    display: flex;
    background-color: #DC506F1A;
    max-width: 1923px;
    max-height: 620px;
}

.HD-Section-Title-Black {
    max-width: 537px;
    max-height: 48px;
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding: 180px 0px 0px 403px;
}

.HD-Section-Title-Pink {
    color: #E55473;
}

.HD-Section-Description {
    display: flex;
    width: 594px;
    color: #27272799;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 48px 0px 32px 395px;
}

.HD-Section-Picture {
    max-width: 318px;
    max-width: 420px;
    padding: 100px 429px 100px 186px;
    
}
.btn-secondary {
    border-radius: 8px;
    border: 0;
    width: auto;
    height: auto;
    background: #E55473;
    display: inline-flex;
    padding: 20px 43px;
    gap: 10px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px 0px 162px 603px;
    cursor: pointer;
}

.btn-secondary:active {
    background: rgba(229, 84, 115, 0.950);
}

/* Instagram Section */

.IG-Section {
    display: block;
    /* max-width: 1923px;
    max-height: 832px; */
}

.IG-Section-Title {
    /* display: flex; */
    max-width: 193px;
    max-height: 48px;
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 128px 865px 24px 865px;
}

.IG-Section-Description {
    /* display: flex; */
    width: 594px;
    color: #27272799;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 0px 663px 48px 633px;
}

.IG-Section-Picture-1, .IG-Section-Picture-2, .IG-Section-Picture-3, .IG-Section-Picture-4 {
    /* display: inline-block; */
    padding: 48px 0px 128px 0px;
    max-width: 342px;
    max-height: 396px;
    
}

.IG-Section-Picture-1 {
    padding-left: 240px;
}

.IG-Section-Picture-2 {
    padding-left: 25px;
}

.IG-Section-Picture-3 {
    padding-left: 25px;
}

.IG-Section-Picture-4 {
    padding-left: 25px;
    padding-right: 240px;
}









/* Get The Latest Deals Section */

.GTLD-Section {
    display: block;
    max-width: 1441px;
    max-height: 449px;
    margin: 128px 241px 128px 241px;
    background-image: url('../images/Rectangle\ 9.png');
}

.GTLD-Section-Title {
    width: 453px;
    max-height: 48px;
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding: 122px 494px 0px 494px;
}

.GTLD-Section-Description {
    width: 265px;
    max-height: 30px;
    color: #27272799;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 0px 588px 48px 588px;
}

.Subscribe {
    display: inline-flex;
}

#GTLD-Section-Input {
    width: 700px;
    height: 64px;
    border-radius: 8px;
    border: 0;
    margin: 0px 16px 121px 287px;
}

::placeholder {
    color: #27272799;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 23px 513px 22px 22px;
}

.btn-tertiary {
    border-radius: 8px;
    border: 0;
    width: auto;
    height: auto;
    background: #E55473;
    display: inline-flex;
    padding: 20px 43px;
    gap: 10px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px 287px 121px 0px;
    cursor: pointer;
}

.btn-tertiary:active {
    background: rgba(229, 84, 115, 0.950);
}

.background-image-1 {
    background-image: url('../images/Rectangle\ 9.png');
}

/* Footer (COMPLETED) */
.Footer-Section {
    display: flex;
    background-color: #111010;
    max-width: 1923px;
    height: 449px;
}

.Footer-Section-Title {
    display: flex;
    max-width: 423px;
    max-height: 58px;
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    padding: 108px 750px 0px 750px;
}

.Footer-Section-Title-White {
    color: #FFFFFF;
}

.Footer-Section-Title-Pink {
    color: #E55473;
}

.Footer-Section-Description {
    display: flex;
    width: 675x;
    max-height: 60px;
    color: #FFFFFFE5;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 0px 624px 24px 624px;
}

.Footer-Section-Copyrights {
    color: #FFFFFF66;
    width: 735px;
    text-align: center;
    font-style: normal;
    padding: 32px 594px 128px 594px;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}